.googleAdSense {
  &--pconly {
    @include pc {
    display: block;
    width: 815px;
    text-align: center;
    margin-top: 50px;
    }
    @include spxl {
      display: none;
    }
  }


  &__wrapper {
    margin: 0 auto;
  }
}
