.header {
  display: flex;
  background-color: #5e9d93;
  width:100%;
  height: 100px;

  @include spxl {
    height: 60px;
  }

  .snsLink {
    cursor: pointer;
    padding:0 20px 38px 25px;

    @include spxl {
      width: 39px;
      height: 31px;
      padding:0 19px 0 17px;
    }

    &__logo {
      @include spxl{
        width: 39px;
        height: 31px;
      }
    }

    &__text {
      text-align: center;
      font-size:2.4rem;
      @include spxl {
        font-size: 1.6rem;
      }
    }
  }

  &__siteTitle {
    margin:0 auto;

    .siteTitle__title{
      padding-top: 20px;
      width:268px;
      height: 74px;
      @include spxl {
        padding-top: 10px;
        width: 134px;
        height: 37px;
      }
    }
  }

  &__hamburgerMenu{
    background-color: red;
    width: 30px;
    height: 30px;
  }
}
