.header {
  display: flex;
  background-color: #5e9d93;
  width:100%;
  height: 100px;
  &__hamburgerMenu{
    background-color: red;
    width: 30px;
    height: 30px;
  }
}
  .snsLink {
    cursor: pointer;
    padding:0 20px 38px 25px;
    &__text {
      text-align: center;

      font-size:2.4rem
    }
  }
  .siteTitle {
    padding: 0 402px 0 360px;

    &__title{
      padding-top: 10px;
      width:268px;
      height: 74px;
    }
  }
