doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TEST
  body
    header.header
      .snsLink
        a.snsLink__anchor(href="#" role="button")
          img.snsLink__logo(src="../images/Cafebookmark_logo.png")
          p.snsLink__text SNS
        .snsLink__menu--closed
          .menu__wrapper
            .menu__container
              i.fab.fa-instagram-square.icon-size
              p Instagram
            .menu__container
              i.fab.fa-twitter.icon-size
              p Twitter
            .menu__container
              i.fab.fa-youtube.icon-size
              p Youtube
      .header__siteTitle
        a.siteTitle(href="#")
          img.siteTitle__title(src="../images/Cafebookmark_titletext.png")
      ul.menu__container--pconly
        li
          i.fab.fa-instagram-square.fa-4x
        li
          i.fab.fa-twitter.fa-4x
        li
          i.fab.fa-youtube.fa-4x
      .hamburgerMenu
        span.hamburgerMenu__menuLine01
        span.hamburgerMenu__menuLine02
        span.hamburgerMenu__menuLine03
block content

