aside.sidebar
  .sidebar__ranking--pconly
    p.rankingTitle ランキング
    .ranking__content
      .content__discription
        img.discription__image(src="../images/Cafebookmark_logo.png")
        p 1
      img.content__image(src="https://placehold.jp/240x160.png")
      p.content__title タイトル
    .ranking__content
      .content__discription
        img.discription__image(src="../images/Cafebookmark_logo.png")
        p 2
      img.content__image(src="https://placehold.jp/240x160.png")
      p.content__title タイトル
    .ranking__content
      .content__discription
        img.discription__image(src="../images/Cafebookmark_logo.png")
        p 3
      img.content__image(src="https://placehold.jp/240x160.png")
      p.content__title タイトル
  .sidebar__relatedArchive
    p.relatedArchive__title 関連記事
  .relatedArchive__wrapper
    .reletedArchive__content
      img(src="../images/natumesouseki.jpg")
      p.content__title 夏目漱石の「こころ」に迫る
    .reletedArchive__content
      img(src="../images/zixyubixyougennkintetu.jpeg")
      p.content__title 書評「銃・病原菌・鉄」
    .reletedArchive__content
      img(src="https://placehold.jp/240x160.png")
      p.content__title タイトル
block contant
