extends _header.pug
block content
  .wrapper
      .container
        main.main
          .archive
            .archive__image
              img(src="https://placehold.jp/960x540.png")
            .archiveWrapper
              .archiveWrapper__title
                h1 なぜ日本の捕鯨が非難されるのか
              .archiveWrapper__description
                .archiveWrapper__seriseName
                  p why シリーズ
                .archiveWrapper__dataName
                  p 2020/08/01
              .archiveWrapper__tag
                  p #捕鯨 #欧米 #日本
              .archiveWrapper__content
                p そこは前人知れずその反対共という事の以上に行っずる。
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | あまりには生れなかっでしたた。
                | 中学校を行っないものは同時に次第に至極たたな。ついに岩崎さんで発展師範だんだん評価を瞑っでし仲間そんな自分何か排斥がってお公言たたたたて、この場合はそれか文学個人でなりて、嘉納さんのものを害の君に必ずしもご批評と向いて彼ら語学でご誘惑をぶらようにしっくりお講演がするますなば、ましてとにかく意見から突き破っなくてみう事をいうたたい。
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
              .archiveWrapper__footer
                .footer__snsShare
                  .snsShare__round--twitter
                    i.fab.fa-twitter.fa-3x
                  .snsShare__round--line
                    i.fab.fa-line.fa-3x
                  .snsShare__round--facebook
                    i.fab.fa-facebook-square.fa-3x
                  .snsShare__round--pinterest
                    i.fab.fa-pinterest-square.fa-3x
                .footer__tag
                  .tag__container
                    p タグ
                  .tag__container
                    p タグ
        include _sidebar.pug
      .googleAdSense--pconly
        .googleAdSense__wrapper
          img(src="https://placehold.jp/300x250.png")
      .latestArchive
        .latestArchive__title
          p 最新記事
        .latestArchive__wrapper
          .latestArchive__container
            img(src="https://placehold.jp/240x160.png")
            p タイトル
          .latestArchive__container
            img(src="https://placehold.jp/240x160.png")
            p タイトル
          .latestArchive__container
            img(src="https://placehold.jp/240x160.png")
            p タイトル
      include _footer.pug
