doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TEST
  body
    header.header
      a.snsLink(href="#" role="button")
        img.snsLink__logo(src="../images/Cafebookmark_logo.png")
        p.snsLink__text SNS
      .header__siteTitle
        a.siteTitle(href="#")
          img.siteTitle__title(src="../images/Cafebookmark_titletext.png")
      .header__hamburgerMenu
    main
      aside.sidebar
    foooter.footer
