doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TEST
  body
    header.header
      a.snsLink(href="#" role="button")
        img.snsLink__logo(src="../images/Cafebookmark_logo.png")
        p.snsLink__text SNS
      .header__siteTitle
        a.siteTitle(href="#")
          img.siteTitle__title(src="../images/Cafebookmark_titletext.png")
      .hamburgerMenu
        span.hamburgerMenu__menuLine01
        span.hamburgerMenu__menuLine02
        span.hamburgerMenu__menuLine03

    .wrapper
      .container
        main.main
          .archive
            .archive__image
              img(src="https://placehold.jp/960x540.png")
            .archiveWrapper
              .archiveWrapper__title
                h1 なぜ日本の捕鯨が非難されるのか
              .archiveWrapper__description
                p why シリーズ
                p 2020/08/01
                p #捕鯨 #欧米 #日本
              .archiveWrapper__content
                p そこは前人知れずその反対共という事の以上に行っずる。
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | あまりには生れなかっでしたた。
                | 中学校を行っないものは同時に次第に至極たたな。ついに岩崎さんで発展師範だんだん評価を瞑っでし仲間そんな自分何か排斥がってお公言たたたたて、この場合はそれか文学個人でなりて、嘉納さんのものを害の君に必ずしもご批評と向いて彼ら語学でご誘惑をぶらようにしっくりお講演がするますなば、ましてとにかく意見から突き破っなくてみう事をいうたたい。
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
                | けっして当時の攻撃論は充分その誤解でたかもで迂ばならでがも附随知れななて、
              .archiveWrapper__footer
                .footer__snsShare
                  .snsShare__round--twitter
                    i.fab.fa-twitter.fa-3x
                  .snsShare__round--line
                    i.fab.fa-line.fa-3x
                  .snsShare__round--facebook
                    i.fab.fa-facebook-square.fa-3x
                  .snsShare__round--pinterest
                    i.fab.fa-pinterest-square.fa-3x
                .footer__tag
                  .tag__container
                    p タグ
                  .tag__container
                    p タグ
        aside.sidebar
          .sidebar__ranking--pconly
            p.rankingTitle ランキング
            .ranking__content
              .content__discription
                img.discription__image(src="../images/Cafebookmark_logo.png")
                p 1
              img.content__image(src="https://placehold.jp/240x160.png")
              p.content__title タイトル
            .ranking__content
              .content__discription
                img.discription__image(src="../images/Cafebookmark_logo.png")
                p 2
              img.content__image(src="https://placehold.jp/240x160.png")
              p.content__title タイトル
            .ranking__content
              .content__discription
                img.discription__image(src="../images/Cafebookmark_logo.png")
                p 3
              img.content__image(src="https://placehold.jp/240x160.png")
              p.content__title タイトル
          .sidebar__relatedArchive
            p.relatedArchive__title 関連記事
          .relatedArchive__wrapper
            .reletedArchive__content
              img(src="../images/natumesouseki.jpg")
              p.content__title 夏目漱石の「こころ」に迫る
            .reletedArchive__content
              img(src="../images/zixyubixyougennkintetu.jpeg")
              p.content__title 書評「銃・病原菌・鉄」
            .reletedArchive__content
              img(src="https://placehold.jp/240x160.png")
              p.content__title タイトル
      .googleAdSense--pconly
        .googleAdSense__wrapper
          img(src="https://placehold.jp/300x250.png")
      .latestArchive
        .latestArchive__title
          p 最新記事
        .latestArchive__wrapper
          .latestArchive__container
            img(src="https://placehold.jp/240x160.png")
            p タイトル
          .latestArchive__container
            img(src="https://placehold.jp/240x160.png")
            p タイトル
          .latestArchive__container
            img(src="https://placehold.jp/240x160.png")
            p タイトル

    footer.footer
      .footer__text
        small &copy; 2020 intys
