doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TEST
  body
    header.header
      a.snsLink(href="#" role="button")
        img.snsLink__logo(src="../images/Cafebookmark_logo.png")
        p.snsLink__text SNS
      .header__siteTitle
        a.siteTitle(href="#")
          img.siteTitle__title(src="../images/Cafebookmark_titletext.png")
      .header__hamburgerMenu
    main.main
      section.archive
        .archice__image
          img
        .archive__title
          h1
        .archive__description
          p ジャンル名
          p 2020/08/01
          p #タグ名
        .archive__content
        .archive__footer
          .snsShare
          .tag
      .googleAdword
      .latestArchive
        .latestArchive__wrapper
          img
          p タイトル
        .latestArchive__wrapper
          img
          p タイトル
        .latestArchive__wrapper
          img
          p タイトル
      aside.sidebar
        .sidebar__ranking
        .sidebar__related-archive
    foooter.footer
