extends _header.pug
block content
  .wrapper
    .container
      main.topPage
        .carousel
          p 連載一覧
          .carousel__container
        .latestArchive
            .latestArchive__title
              p 最新記事
            .latestArchive__wrapper
              .latestArchive__container
                img(src="https://placehold.jp/240x160.png")
                p タイトル
              .latestArchive__container
                img(src="https://placehold.jp/240x160.png")
                p タイトル
              .latestArchive__container
                img(src="https://placehold.jp/240x160.png")
                p タイトル
              .latestArchive__container
                img(src="https://placehold.jp/240x160.png")
                p タイトル
              .latestArchive__container
                img(src="https://placehold.jp/240x160.png")
                p タイトル
              .latestArchive__container
                img(src="https://placehold.jp/240x160.png")
                p タイトル
      include _sidebar.pug
  include _footer.pug
